.app-wrapper{
  display: grid;
  width: 80%;
  margin: 0 auto;

  grid-template-areas:
  "app-header app-header"
  "app-nav app-content";

  grid-template-rows: 60px;
  grid-auto-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}





